.modal {
    max-height: 102vh;
    overflow: auto;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(33, 33, 33, 0.6);
    justify-content: center;
    // align-items: center;
    &__wrap {
        max-width: 550px;
        position: relative;
        margin: auto;
        text-align: center;
        @media only screen and (max-width: 508px) {
            max-width: 100%;
        }   
    }
    &__body {
      padding: 10px; 
      background: #fff;
    }
    &__title {
        font-size: 35px;
        line-height: 45px;
        font-weight: 500;
        margin: 0 0 40px;
        color: $accent;
        @media screen and (max-width: 1078px) {
          font-size: 41px;
        }
        @media screen and (max-width: 580px) {
          font-size: 30px;
          line-height: 37px;
          text-align: left;
        }
    }
    p {
        font-size: 20px;
        line-height: 27px;
        margin: 0;
        text-align: left;
        padding-right: 112px;
        background: url('../img/qa-thnx-bg.jpg') no-repeat;
        background-position: center right;
        background-size: 112px;
    }
    &-open {
        display: block;
    }
  }
  .close {
      position: absolute;
      right: 80px;
      top: 60px;
      width: 33px;
      height: 33px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      svg {
        fill: #686868;
        width: 30px;
        height: 30px;
      }
      &:hover {
          opacity: .7;
      }
      @media only screen and (max-width: 670px) {
        top: 17px;
        right: 17px;
        border-color: #000;
      }
  
  }
  
  .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
  }
  .disabled {
      display: none !important;
  }

  @keyframes fadeOutUp {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  }
    
  .fadeOutUp {
    animation-name: fadeOutUp;
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  //width modal
  #modalForm .modal__wrap {
    max-width: 439px;
  }
  