footer.footer
    .wrap
        .footer__top
            .footer__item
                a(href="tel:+380443347469") (044) 334 74 69
                a(href="tel:+380989997469") (098) 999 74 69
            .footer__item
                a(href="tel:+380739997469") (073) 999 74 69
                a(href="tel:+380509997469") (050) 999 74 69
            .footer__item.footer__item--mob
                a(href="mailto:manager@solarled.com.ua") manager@solarled.com.ua
                a(href="mailto:sales@solarled.com.ua") sales@solarled.com.ua
            .footer__item.footer__item--mob
                div г. Киев.
                div Переулок Квитневый 2
        .footer__bottom 
            .footer__item.footer__item--mob 
                div © 2019 SolarLed. Все права защищены.  
                div Сайт не является публичной офертой.
            .footer__item.footer__conf 
                a(href="#") Политика конфиденциальности
            .footer__item.footer__conf 
                span Разработка сайта
                .footer__logo 
                    img(src="img/logo-footer.png", alt="")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
